# Ukrainian data file

name		uk
charset		koi8-u-nl
data-encoding	utf-8

#soundslike	ukrainian
soundslike	simple
#repl-table	uk_repl.dat

special		' -*- - -*- ` -*-

keyboard	ukrainian

affix		uk
affix-compress	true
